/* Corrects the 'body' background declaration */
body {
  background: pink;
}

/* Corrects the 'h1' font-size declaration */
h1 {
  font-size: 3em;
}

/* Corrects the 'h2' font-weight declaration */
h2 {
  font-weight: normal;
}

/* Corrects the '.completed' font-size declaration */
.completed {
  font-size: 12px;
}

/* Corrects the '#tasks .completed' background declaration */
#tasks .completed {
  background: #ccc;
}